[tool.poetry]
name = "webcomix"
version = "3.2.3"
description = "Webcomic downloader"
authors = ["Jean-Christophe Pelletier <pelletierj97@gmail.com>"]
readme = "README.md"
repository = "https://github.com/J-CPelletier/webcomix"
homepage = "https://github.com/J-CPelletier/webcomix"
license = "MIT"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Internet :: WWW/HTTP",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Operating System :: OS Independent",
    "Framework :: Scrapy",
]
packages = [
    { include = "webcomix" },
]

[tool.poetry.dependencies]
python = "^3.5"
click = "^7.1.1"
scrapy = "^2.0.1"
tqdm = "^4.43.0"
scrapy-splash = "^0.7.2"
scrapy-fake-useragent = "^1.2.0"

[tool.poetry.dev-dependencies]
pytest = "^5.4.1"
pytest-cov = "2.5.1"
pytest-mock = "^2.0.0"
coveralls = "^1.11.1"
mypy = "^0.770"
pre-commit = "1.18.1"

[tool.poetry.scripts]
webcomix = "webcomix.cli:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
